#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Katra - [OREGON]
Exec=/opt/google/chrome/google-chrome "--app=http://localhost:53610/katra/katra.html?basic=hp2k&program=OREGON"
Icon=chrome-http___localhost_53610_katra_katra.html_basic=hp2k&program=OREGON
StartupWMClass=localhost__katra_katra.html
Name[en_US]=Oregon Trail
