<!DOCTYPE html>
<html>
<head>
    <title>Katra</title>
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if site.isdev == true %}
        {% bundle %}
        - /_assets/fonts.css
        - /_assets/bootstrap.min.css
        - /_assets/katra.css
        - /_assets/katra.console.css
        - /_assets/bootstrap-responsive.css
        {% endbundle %}
    {% else %}
        <link rel='stylesheet' href='//cdn.darkoverlordofdata.com/css/bootstrap.min.css' type='text/css'/>
        {% bundle %}
        - /_assets/fonts.css
        - /_assets/katra.css
        {% endbundle %}
        <link rel='stylesheet' href='//cdn.darkoverlordofdata.com/css/bootstrap-responsive.css' type='text/css'/>
    {% endif %}
    <style>
        html, body {
            padding: 0;
            margin: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    </style>
    <link href="/favicon.png" rel="shortcut icon" type="image/png">
</head>
<body>
<div class="console">
</div>
{% if site.isdev == true %}
    {% bundle %}
    - /_assets/jquery-2.0.2.min.js
    - /_assets/katra.console.js
    - /_assets/rte.browser.js
    - /_assets/util.js
    - /_assets/katra.js
    - /_assets/kc.js
    - /_assets/run-katra.js
    {% endbundle %}
{% else %}
    <script type="text/javascript" src="//cdn.darkoverlordofdata.com/js/jquery-2.0.2.min.js" ></script>
    {% bundle %}
    - /_assets/katra.console.js
    - /_assets/rte.browser.js
    - /_assets/util.js
    - /_assets/katra.js
    - /_assets/kc.js
    - /_assets/run-katra.js
    {% endbundle %}
{% endif %}

</body>
</html>