
<hr />
<p></p>
<p>Projects by Dark Overlord of Data</p>
<p><a href="/katra">Katra</a> BASIC language interpreter in CoffeeScript</p>
<p><a href="http://exspresso.darkoverlordofdata.com">Exspresso</a> A CoffeeScript MVC Web Framework</p>
</div>
<!--<script src="//cdn.darkoverlordofdata.com/js/jquery.min.js"></script>-->
<!--<script src="//cdn.darkoverlordofdata.com/js/bootstrap.min.js"></script>-->
<script src="/katra/assets/jquery.min.js"></script>
<script src="/katra/assets/bootstrap.min.js"></script>

<script src='/katra/js/prettify.js'></script>
<script src='/katra/js/lang-basic.js'></script>

</body>
</html>