{% include "header.html" %}

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs" id="katra-menu">
            <li class="active"><a href="#katra-tab-content" data-toggle="tab">{{ page.title }}</a></li>
            <li><a href="#katra-tab-source" data-toggle="tab" title="View the source code">Source Code</a></li>
            <li><a href="#katra-tab-help" data-toggle="tab" title="View the help text">Help</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="katra-tab-content">
                {{ content }}
            </div>

            <div class="tab-pane" id="katra-tab-source">
                <pre id='source' class="prettyprint lang-katra">
                </pre>
            </div>

            <div class="tab-pane" id="katra-tab-help">
                <pre id='help'>
                </pre>
            </div>

        </div>
    </div>
</div>
<p><a class="btn btn-primary" target="{{ page.program }}" href="/katra/run/?basic={{ page.basic }}&amp;program={{ page.program }}">
    <i class="icon-play-circle icon-white"></i> launch...</a>
<a class="btn" href="/katra/">back</a></p>

{% include "footer.html" %}
{% bundle %}
- /_assets/prettify.js
- /_assets/lang-katra.js
{% endbundle %}

<script>
$(function() {
    $.get('/katra/{{page.source}}', function(data) {
        $('#source').html(String(data));
        prettyPrint();
    });
    $.get('/katra/{{page.help}}', function(data) {
        $('#help').html(String(data));
    });
});
</script>