{% include header.html %}

<div class="row-fluid">
    <div class="span12">
        <ul class="nav nav-tabs" id="katra-menu">
            <li class="active"><a href="#content" data-target="#katra-tab-content" data-toggle="tab">{{ page.title }}</a></li>
            <li><a href="#repl" data-target="#katra-tab-repl" data-toggle="tab" title="type run to start'">Execute</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="katra-tab-content">
                {{ content }}
                <a target="{{ page.program }}" href="/katra/katra.html?basic={{ page.basic }}&amp;program={{ page.program }}">launch...</a>
            </div>

            <div class="tab-pane" id="katra-tab-repl">
                <iframe seamless src="/katra/katra.html?basic={{ page.basic }}&amp;program={{ page.program }}"></iframe>
            </div>

        </div>
    </div>
</div>
<p><a href="/katra/">back</a></p>

{% include footer.html %}